<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавления пользователя</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <label for="name">Имя</label>
    <input type="text" placeholder="Введите имя" name="name" id="name"><br>

    <label for="email">Почта</label>
    <input type="email" placeholder="example@gmail.com" name="email" id="email"><br>

    <label for="age">Возраст</label>
    <input type="number" placeholder="Введите возраст" name="age" id="age"><br>

    <label for="is_active">Статус</label>
    <input type="checkbox" name="is_active" id="is_active"><br>

    <button type="submit">Сохранить</button><br>
</form>
</body>
</html>